Importing all required library

In [34]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from imblearn.combine import SMOTEENN

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

import pickle

Importing the Dataset

In [3]:
dataset = pd.read_csv('insurance.csv')
dataset.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region      charges
0           0   19    0  27.900         0       1       1  16884.92400
1           1   18    1  33.770         1       0       0   1725.55230
2           2   28    1  33.000         3       0       0   4449.46200
3           3   33    1  22.705         0       0       2  21984.47061
4           4   32    1  28.880         0       0       2   3866.85520

Refining the data set by dropping Unnamed: 0 column

In [9]:
df=dataset.drop('Unnamed: 0',axis=1)
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [13]:
df = df.astype({'charges':'int'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 73.3 KB

Creating x and y variables

In [14]:
x = df.drop(columns='charges',axis=1)
y = df['charges']

Splitting the data into training and testing data

In [15]:
 x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=2)

Linear Regression

In [16]:
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [17]:
lr.score(x_test,y_test)

0.7454474167181153

pickle the model

In [18]:
filename = 'linearregression.sav'
pickle.dump(lr, open(filename, 'wb'))

testing the model

In [37]:
input_data = (19,0,27.9,0,1,1)
input_data_as_numpy = np.array(input_data)
input_data_reshaped = input_data_as_numpy.reshape(1,-1)
prediction = lr.predict(input_data_reshaped)
print(prediction)

[25558.37485306]

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(